# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so

# Virtual environments
venv/
.env/
.env*/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
*.csv
*.tsv
*.xlsx

# Images & plots
*.png
*.jpg
*.jpeg

# Logs
*.log

# IDE
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Ignore PyCharm/IDE configuration files
*.pyc